<link href="/rent-band/css/rentalCart.css" rel="stylesheet"/>
<link href="/rent-band/css/rentalCartPrint.css" rel="stylesheet" media="print"/>
<table cellspacing="0" class="tblRentalCart">
                <thead>
                    <tr class="tr2">
                        <th class="text-left" colspan="2">Product</th>
                        <th width="130px" class="text-right">Harga Sewa/ Hari</th>
                        <th width="60px" class="text-right">Qty</th>
                        <th width="80px" class="text-right">Lama Sewa</th>
                        <th width="130px" class="text-right">Denda</th>
                        <th width="130px" class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
</table>