#tblbook{
    color:#000;
    text-shadow: none;
    font-size: 12px;
    border:1px solid #666;
}
#tblbook thead tr{
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
    background: linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
#tblbook thead tr td{
    padding: 5px;
}
#tblbook tbody tr td{
    padding: 5px;
}
#tblbook tbody tr:hover{
    background-color: #ccc;
}
.link{
    color:Blue;
    text-decoration: Underline;
    cursor:pointer;
}
.link:hover{
    color:Black;
    text-decoration: none;
}
.text-right{
	text-align:right;
}

.remove{
	margin-left: 10px;
    color:Red;
    font-weight: bold;
    cursor:pointer;
}
.remove:hover{
    color:#771D02;
}